@model CinemaAdminVM

@{
    ViewData["Title"] = "Create Cinema";
}



<h1>Create Cinema</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CurrentState" class="col-sm-2 col-form-label"></label>
            <select asp-for="CurrentState" asp-items="Html.GetEnumSelectList<CurrentState>()" class="form-control"></select>
            <span asp-validation-for="CurrentState" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary justify-content-xxl-end">Create</button>
</form>

